<html>
	<head>
		<title>MitStuPro</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/readable/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/colorpicker.css">
		<link rel="stylesheet" href="/stylesheets/angular-spinkit.min.css">

		<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
		<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
		<script src="/javascripts/bootstrap-colorpicker-module.js"></script>
		<script src="/javascripts/mitStuProApp.js"></script>
		<script src="/javascripts/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-animate.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>	
		<script src="/javascripts/angular-spinkit.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body ng-app="mitStuPro">
	  
		<div class="container-fluid">
			<div class="row">
				<ui-view></ui-view>
			</div>
		</div>


		<!-- table.html -->
 		<script type="text/ng-template" id="/table.html">
			<div ng-controller="TableController" ng-init="design = 1">

				<div class="panel panel-default">
					
				<div class="panel panel-heading clearfix">
					<a href="#" ng-click="design = 1"><span class="glyphicon glyphicon-list"></span> 1.Design</a>
					<a class="space" href="#" ng-click="design = 2"><span class="glyphicon glyphicon-th"></span> 2.Design</a>

					<a class="pull-right space" href="#" ng-click="login = !login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
					<a class="pull-right" href="#"><span class="glyphicon glyphicon-edit"></span> Registrieren</a>
				</div>

				<div class="panel panel-heading clearfix" ng-show="login">

					<div class="pull-right">
						<div class="inner-addon left-addon" style="width:200px; display: inline-block;">
    						<i class="glyphicon glyphicon-user"></i>
    						<input type="text" class="form-control" placeholder="Benutzername" />
						</div>

						<div class="inner-addon left-addon" style="width:200px; display: inline-block;">
    						<i class="glyphicon glyphicon-lock"></i>
    						<input type="password" class="form-control" placeholder="Passwort" />
						</div>

						<button class="btn btn-default" ng-click="login = false">Sign Up</button>
					</div>
				</div>

				<div class="panel panel-heading-nostyle">

					<div ng-show="design == 1">
						<!-- Menü für erstes Design -->
						<!-- Simple dropdown -->
						<div class="btn-group" style="width:100%">
							<div class="btn-group" style="width:50%">
								<button class="btn btn-primary btn-lg btn-block  active dropdown-toggle " data-toggle="dropdown"> 
									Männlich
								</button>
								<ul class="dropdown-menu" role="menu">
	      								<li ng-repeat="league in activeLeagues | filter: { gender: 'Männlich' }:true">
										<a ng-click="getTableForLeague(league)">{{league.jugend}} ({{league.name}})</a>
									</li>
	    						</ul>
							</div>
	
							<div class="btn-group " style="width:50%">
								<button class="btn btn-danger btn-lg btn-block active dropdown-toggle " data-toggle="dropdown"> 
									Weiblich
								</button>
								<ul class="dropdown-menu" role="menu">
	      								<li ng-repeat="league in activeLeagues | filter: { gender: 'Weiblich' }:true">
										<a ng-click="getTableForLeague(league)">{{league.jugend}} ({{league.name}})</a>
									</li>
	    						</ul>
							</div>
						</div>
						<!-- ENDE Menü für erstes Design -->							
					</div>

				</div>

				<div class="panel-body">

					<!-- erstes Design -->
					<div ng-show="design == 1">

						<!-- Ladebildschirm -->
							<div class="center-vertical center-horizontal" ng-show="loading">
								<img src="images/loading-animation.gif"/ height="200" width="200">
							</div>
						<!-- ENDE Ladebildschirm -->

      				<div>

						<!-- Tabelle für erstes Design -->
						<div ng-show="mannschaften">

							<h2>{{leagueName}}</h2>

           	 				<table class="table table-striped table-condensed">
								<caption>Tabelle</caption>	
           	 					<thead>
              						<tr>
      									<th>Rang</th>
      									<th>Mannschaft</th>
      									<th>Spiele</th>
      									<th>S</th>
      									<th>U</th>
      									<th>N</th>
      									<th>Tore</th>
      									<th>+/-</th>
                						<th>Punkte</th>
      								</tr>
            					</thead>
           						<tbody>
              						<tr ng-repeat="mannschaft in mannschaften | orderObjectBy:'rang':false" data-ng-class="isHighlight(mannschaft)">
                						<td>{{mannschaft.rang}}</td>
          								<td>{{mannschaft.mannschaft}}</td>
          								<td>{{mannschaft.begegnungen}}</td>
        								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.siege}}</td>
										<td ng-if="!isNumber(mannschaft.siege)" colspan="100%">{{mannschaft.siege}}</td>
          								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.unentschieden}}</td>
          								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.niederlagen}}</td>
          								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.tore}}</td>
          								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.verhaeltnis}}</td>
                						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.punkte}}</td>
             						</tr>
           				 		</tbody>
          					</table>	
          
          					<table class="table table-striped table-condensed" ng-show="nextGames">
            					<caption>Spielplan</caption>
								<thead>
              						<tr>
                						<th>Tag</th>
                						<th>Datum</th>
                						<th>Zeit</th>
               							<th>Halle</th>
                						<th>Nr</th>
                						<th>Heimmannschaft</th>
                						<th>Gastmannschaft</th>
                						<th>Tore</th>
              						</tr>
            					</thead>
            					<tbody>
              						<tr ng-repeat="nextGame in nextGames">
                						<td>{{nextGame.tag}}</td>
          								<td>{{nextGame.datum}}</td>
          								<td>{{nextGame.zeit}}</td>
          								<td ng-click="getHallenadresseForHalle(nextGame.hallenlink)"> <a href="#" ng-attr-title="{{nextGame.hallenname}}" data-toggle="tooltip">{{nextGame.halle}}</a></td>
          								<td>{{nextGame.nr}}</td>
          								<td>{{nextGame.heimmannschaft}}</td>
          								<td>{{nextGame.gastmannschaft}}</td>
                						<td>{{nextGame.tore}}</td>
              						</tr>
            					</tbody>
          					</table>

							<div ng-show="hallenaddress" address-based-google-map address="hallenaddress" zoom="16"> </div>							

        				</div>
						<!-- ENDE Tabelle für erstes Design -->

					</div>
				</div>
				<!-- ENDE erstes Design -->
			
				<!-- zweites Design -->
				<div ng-show="design == 2">
					<!-- Menü für zweites Design -->
					<div class="col-md-2 nopadding sticky-note-background">
						<div sticky-note ng-repeat="league in activeLeagues" league="league" class="sticky-note" ng-click="getTableForLeague(league)">
							<span class="title rotate">{{league.name}}</span>
							<span class="body rotate">{{league.jugend}}</span>
						</div>
					</div>
					<!-- ENDE Menü für zweites Design -->
					
					<!-- Tabelle für zweites Design -->
					<div class="col-md-10" ng-show="mannschaften">
	
						<h2>Tabelle der {{leagueName}}</h2>
						<table class="table table-striped table-condensed table-bordered">
	           	 			<thead>
	              				<tr>
	      							<th>Rang</th>
	      							<th>Mannschaft</th>
	      							<th>Spiele</th>
	      							<th>S</th>
	      							<th>U</th>
	      							<th>N</th>
	      							<th>Tore</th>
	      							<th>+/-</th>
	                				<th>Punkte</th>
	      						</tr>
	            			</thead>
	           				<tbody>
	              				<tr ng-repeat="mannschaft in mannschaften | orderObjectBy:'rang':false" data-ng-class="isHighlight(mannschaft)">
	                				<td>{{mannschaft.rang}}</td>
	          						<td>{{mannschaft.mannschaft}}</td>
	          						<td>{{mannschaft.begegnungen}}</td>
	        						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.siege}}</td>
									<td ng-if="!isNumber(mannschaft.siege)" colspan="100%">{{mannschaft.siege}}</td>
	          						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.unentschieden}}</td>
	          						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.niederlagen}}</td>
	          						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.tore}}</td>
	          						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.verhaeltnis}}</td>
	                				<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.punkte}}</td>
	             				 </tr>
	           				 </tbody>
	          			</table>	
	          
	          			<h2>Spielplan</h2>
	          			<table class="table table-striped table-condensed table-bordered" ng-show="nextGames">
	            			<thead>
	              				<tr>
	                				<th>Tag</th>
	                				<th>Datum</th>
	                				<th>Zeit</th>
	               					<th>Halle</th>
	                				<th>Nr</th>
	                				<th>Heimmannschaft</th>
	                				<th>Gastmannschaft</th>
	                				<th>Tore</th>
	              				</tr>
	            			</thead>
	            			<tbody>
	              				<tr ng-repeat="nextGame in nextGames">
	                				<td>{{nextGame.tag}}</td>
	          						<td>{{nextGame.datum}}</td>
	          						<td>{{nextGame.zeit}}</td>
	          						<td>{{nextGame.halle}}</td>
	          						<td>{{nextGame.nr}}</td>
	          						<td>{{nextGame.heimmannschaft}}</td>
	          						<td>{{nextGame.gastmannschaft}}</td>
	                				<td>{{nextGame.tore}}</td>
	              				</tr>
	            			</tbody>
	          			</table>
					</div>
					<!-- ENDE Tabelle für zweites Design -->
				</div>
				<!-- ENDE zweites Design -->

				</div>

				<div class="panel-footer clearfix">	

					© Copyright by Jan Günther, Michael Weber & René Röse

					<a href="#/settings" class="pull-right">
						<span class="glyphicon glyphicon-wrench"></span> Zu den Einstellungen
					</a>

				</div>

			</div>
		</script>
		<!-- ENDE table.html -->
		
		
		<!-- settings.html -->
		<script type="text/ng-template" id="/settings.html">

			<div class="panel panel-default">


				<div class="panel-heading">
					<div class="btn-group" style="width:100%">
						<button style="width:33.3%" class="btn btn-lg btn btn-primary" ng-click="show = 'anzeigeManager'; initAnzeigenManagerVars()"> Anzeigen-Manager </button>
						<button style="width:33.3%" class="btn btn-lg btn btn-success" ng-click="show = 'tables'"> Design-Manager </button>
						<button style="width:33.3%" class="btn btn-lg btn btn-danger" ng-click="show = 'ligaManager'; settings = false; initLigaManagerVars()"> Liga-Manager </button>
					</div>
				</div>

			
				<div class="panel-body">

					<!--Anzeige Anzeigen-Manager -->
					<div ng-show="show == 'anzeigeManager'">
						
						<div style="margin-bottom:1em;">
							<h2> Anzeigen-Manager </h2>
						</div>

						<div>
							<h4>Designauswahl</h4>
  							<p>Wählen Sie die Designsansichten, die Sie zur Verfügung stellen möchten:</p>
  							<form role="form" ng-click="changeDesignauswahl(benutzer.designauswahl)">
    							<label class="checkbox-inline">
     								<input type="checkbox" value="first" ng-model="benutzer.designauswahl.first">1.Design
    							</label>
    							<label class="checkbox-inline">
      								<input type="checkbox" value="second" ng-model="benutzer.designauswahl.second">2.Design
    							</label>
  							</form>
							<br/>

							<h4>Standard Design</h4>
  							<p>Wählen Sie das Design, das als Standard angezeigt werden soll:</p>
  							<form role="form" ng-click="changeStandardDesign(benutzer.standardDesign)">
    							<label class="radio-inline">
      								<input type="radio" name="standard" value="1" ng-model="benutzer.standardDesign">1.Design
    							</label>
    							<label class="radio-inline">
      								<input type="radio" name="standard" value="2" ng-model="benutzer.standardDesign">2.Design
    							</label>
  							</form>
							<br/>

							<h4>Favorisierter Verein</h4>
  							<p>Tragen Sie (wenn gewünscht) Ihren favorisierten Verein in das dafür vorgesehene Feld ein.<br/> Ihr Verein wird hervorgehoben angezeigt.</p>
							
							<form role="form">
								<label for="vereinsname">Vereinsname:</label>
  								<input ng-blur="changeFavorisierterVerein(benutzer.favoritVerein)" ng-model="benutzer.favoritVerein" type="text" class="form-control" id="vereinsname" placeholder="Genauen Vereinsnamen angeben">
  							</form>  								
							<br/>

							<h4>Spielplan</h4>
  							<p>Entscheiden Sie, ob Sie die Spielpläne angezeigt bekommen wollen:</p>
  							<form role="form" ng-click="changeSpielplan(benutzer.spielplan)">
    							<label class="radio-inline">
      								<input type="radio" name="spielplan" value="ja" ng-model="benutzer.spielplan">JA
    							</label>
    							<label class="radio-inline">
      								<input type="radio" name="spielplan" value="nein" ng-model="benutzer.spielplan">NEIN
    							</label>
  							</form>
							<br/>

							<h4>Individuelle Verwaltung</h4>
  							<p>Wollen Sie, dass sich Benutzer registrieren können und eigenständig ihre eigenen Einstellungen verwalten können?</p>
  							<form role="form" ng-click="changeLogin(benutzer.verwaltung)">
    							<label class="radio-inline">
      								<input type="radio" name="verwaltung" value="ja" ng-model="benutzer.verwaltung">JA
    							</label>
    							<label class="radio-inline">
      								<input type="radio" name="verwaltung" value="nein" ng-model="benutzer.verwaltung">NEIN
    							</label>
  							</form>
						</div>

					</div>
					<!--ENDE Anzeige Anzeigen-Manager -->

					<!--Anzeige Ligamanager -->
					<div ng-show="show == 'ligaManager'">
	
						<!-- Menu Ligamanager-Anzeige -->
						<div class="clearfix" style="margin-bottom:1em;">
							<a ng-show="settings" ng-click="settings = false; initLigaManagerVars()" style="margin-right:1em;">
								<span class="glyphicon glyphicon-circle-arrow-left bigSizeGlyph"></span>
							</a>

  							<h2> Liga-Manager </h2>

							<a ng-show="!settings" ng-click="settings = true">
          						<span class="glyphicon glyphicon-wrench space bigSizeGlyph"></span>
        					</a>

							<div ng-show="settings" class="pull-right">
								<a ng-click="checkSearchVerein()">
          							<span class="glyphicon glyphicon-search bigSizeGlyph space vcenter"></span>
        						</a>

								<a ng-click="quelle = !quelle">
          							<span class="glyphicon glyphicon-refresh bigSizeGlyph space vcenter"></span>
        						</a>
							</div>

							<div ng-show="settings" class="pull-right">
								<span ng-show="!search && !searchStart" class="pull-left"><meldungText>{{activeLeagues.length}} Ligen gewählt</meldungText></span>
								<input ng-show="search && leagues.length > 0" ng-model="searchVerein" ng-enter="checkSearchVerein()" class="input-sm pull-left" type="text" placeholder="Ligen-Finder">
								<span ng-show="search && leagues.length == 0"><alertText>Keine Daten vorhanden</alertText></span>
								
								<progressbar style="margin:0px; margin-bottom:2px;" ng-show="searchStart" max="100" value="progressbaraktuellprozent" class="progress-striped active" type="success"><b>{{progressbaraktuellprozent | number:1}}%</b></progressbar>
								<span ng-show="searchStart"><meldungText style="margin-left:20px; margin-right:20px;">{{anzahlSearch}} Ligen gefunden</meldungText></span>
							</div>



							<div ng-show="settings" class="row bottom-buffer" >
  								<div ng-show="quelle" class="col-md-12">
   									<div class="input-group input-group-sm">
										<span class="input-group-addon success">
       										Ligenplan:
     									</span>
     									<input type="text" class="form-control" ng-model="ligenplanLink" placeholder="Link zur Übersicht der Ligen">
     									<span class="input-group-btn">
       										<button class="btn btn btn-success btn-lg" type="submit" ng-click="getAllLeagues(ligenplanLink); quelle = false"><span class="glyphicon glyphicon-ok"></span></button>
     									</span>
   									</div><!-- /input-group -->
 								</div>
							</div><!-- /.row -->
						</div>
						<!-- ENDE Menu Ligamanager-Anzeige -->

						

						<!-- Normale Ligamanager-Anzeige -->
	  					<div class="row" ng-hide="settings">
							
							<!-- Anzeige, wenn keine Daten vorhanden sind -->
	    					<div ng-hide="activJugenden.length > 0">
								<div class="col-md-12">
    									<strong>Hinweis!</strong></br>
										Sie haben noch keine Ligen gewählt, die Sie verwalten können!</br>
										Um dies zu Ändern, begeben Sie sich bitte in den <a href="#" ng-click="settings = true">Einstellungsmanager</a> des Liga-Managers.
								</div>
							</div>
							<!-- ENDE Anzeige, wenn keine Daten vorhanden sind -->
	
							<!-- Anzeige, wenn Daten vorhanden sind -->
	    					<div ng-show="activJugenden.length > 0">
								<div class="col-md-12">
	
									<!-- Listen gruppiert nach Jugenden -->
									<div ng-repeat="jugend in activJugenden">
	
										<!-- Listeneinträge -->
										<div class="list-group">
	        								<ul class="list-group-item active">
												<strong class="default-cursor">{{ jugend.label }}</strong>
											</ul>
											<ul class="list-group-item clearfix" ng-repeat="data in jugend.list">
													<span ng-click="changeFavorit(data)" style="cursor:pointer;">{{data.name}}</span> 
													<span ng-show="data.specialName"> ({{data.specialName}}) </span>
	
													<a ng-click="deleteActivLeague(data)">
	         											<span class="pull-right glyphicon glyphicon-trash space"></span>
	        										</a>
	
													<a ng-click="edit = true">
	          											<span class="pull-right glyphicon glyphicon-pencil space"></span>
	        										</a>

													<span ng-show="favorit == data">
	          											<span class="pull-right glyphicon glyphicon-heart red space"></span>
	        										</span>
	
													<span class="pull-right vcenter" ng-show="edit">
														<input type="text" ng-model="specialName" ng-enter="changeSpecialName(data, specialName); edit = false" autofocus>
														<button type="button" class="btn btn-success" ng-click="changeSpecialName(data, specialName); edit = false">
															Name ändern
														</button>
													</span>
											</ul>
										</div>
										<!-- ENDE Listeneinträge -->
	
	    							</div>
									<!-- ENDE Listen gruppiert nach Jugenden -->
								</div>
							</div>
							<!-- ENDE Anzeige, wenn Daten vorhanden sind -->
						</div>
						<!-- ENDE Normale Ligamanager-Anzeige -->
	  				
	
						<!-- Settings der Ligamanager-Anzeige -->
						<div ng-show="settings">
							<!-- Listen gruppiert nach Jugenden -->
							<div ng-repeat="jugend in jugenden">
								<div class="list-group">
	        						<ul class="list-group-item active hand-cursor" ng-click="isShow = !isShow">
										<strong>{{ jugend.label }}</strong>
										<span ng-show="!isShow" class="pull-right glyphicon glyphicon-chevron-down"></span>
										<span ng-show="isShow" class="pull-right glyphicon glyphicon-chevron-up"></span>	
									</ul>
							
									<div ng-show="isShow">
										<ul class="list-group-item hand-cursor" ng-repeat="data in jugend.list" ng-click="changeActiv(data)" ng-class="{selected: data.isActiv}">
											{{data.name}}
										</ul>
									</div>
								</div>
	    					</div>
						</div>
						<!-- ENDE Settings der Ligamanager-Anzeige -->

						<!-- Ladebildschirm -->
						<div class="center-vertical center-horizontal" ng-show="loading">
							<img src="images/loading-animation.gif"/ height="200" width="200">
						</div>
						<!-- ENDE Ladebildschirm -->

					</div>
					<!-- ENDE Liga-Manager Anzeige -->
				
					<!--Anzeige Tabellenmanager -->
					<div ng-show="show == 'tables'" class="row">
						<div class="col-md-6">
							<table class="table" ng-class="{'table-striped': tableStriped}" style="border: 2px solid {{tableBorder.color}}; color:{{tableText.color}};">
								<caption style="color:{{tableCaption.color}};">Tabellen</caption>
								<tbody>
									<tr>
										<td>test</td>
									</tr>
									<tr>
										<td>test2</td>
									</tr>
									<tr>
										<td>test3</td>
									</tr>
									<tr>
										<td>test4</td>
									</tr>
									<tr>
										<td>test5</td>
									</tr>
									<tr>
										<td>test6</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-6">
							<form>
								<div class="form-group">
									<label for="tableCaption">Überschrift</label>
									<input colorpicker ng-model="tableCaption.color" type="text" class="form-control" id="tableCaption" placeholder="{{tableCaption.color}}">
								</div>
								<div class="form-group">
									<label for="tableBorder">Rahmen</label>
									<input colorpicker ng-model="tableBorder.color" type="text" class="form-control" id="tableBorder" placeholder="{{tableBorder.color}}">
								</div>
								<div class="form-group">
									<label for="tableText">Text</label>
									<input colorpicker ng-model="tableText.color" type="text" class="form-control" id="tableText" placeholder="{{tableText.color}}">
								</div>
								<div class="checkbox">
									<label>
										<input ng-model="tableStriped" type="checkbox">Striped?
									</label>
								</div>
								<div class="form-group">
									<select class="form-group">
										<option value="1" selected="selected">1</option>
										<option value="2">2</option>
									</select>
								</div>
							</form>
						</div>
					</div>
					<!-- Ende Anzeige Tabellenmanager -->
				</div>

				<div class="panel-footer clearfix">	
						© Copyright by Jan Günther, Michael Weber & René Röse

						<a href="#/table" class="pull-right">
							<span class="glyphicon glyphicon-list"></span> Zu den Tabellen
						</a>
				</div>

			</div>

					
		</script>
		<!-- ENDE settings.html -->
	</body>
</html>