<html>
	<head>
		<title>MitStuPro</title>
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/colorpicker.css">

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
		<script src="/javascripts/bootstrap-colorpicker-module.js"></script>
		<script src="/javascripts/mitStuProApp.js"></script>
		<script src="/javascripts/ui-bootstrap-tpls-0.12.1.min.js"></script>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	<body ng-app="mitStuPro">
	  
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">
					<ui-view></ui-view>
				</div>
			</div>
		</div>

		<!-- table.html -->
		<script type="text/ng-template" id="/table.html">
			<div ng-controller="TableController">
				<!-- Kopfnavigation -->
				<nav class="navbar navbar-default">
  					<div class="container-fluid">
  						<!-- Collect the nav links, forms, and other content for toggling -->
    					<div class="navbar-body">
      						<ul class="nav navbar-nav">
        						<li><a href="#/table" type="button" class="btn btn-default navbar-btn glyphicon glyphicon-list"> Tabelle</a></li>
        						<li><a href="#/settings" type="button" class="btn btn-default navbar-btn glyphicon glyphicon-wrench"> Einstellungen</a></li>
      						</ul>

      						<ul class="nav navbar-nav navbar-right" ng-init="design = 1">
        						<li><a type="button" class="btn btn-default navbar-btn" ng-click="design = 1">Design 1</a></li>
								<li><a type="button" class="btn btn-default navbar-btn" ng-click="design = 2">Design 2</a></li>
      						</ul>
    					</div><!-- /.navbar-collapse -->
  					</div><!-- /.container-fluid -->
				</nav>
				<!-- ENDE Kopfnavigation -->

				<!-- erstes Design -->
				<div ng-show="design == 1">
      				<div ng-init="getTableForLeague(items[0].teams[0].link)">
      				
						<!-- Menü für erstes Design -->

							<!-- Simple dropdown -->
							<div ng-repeat="item in items" class="btn-group" style="width : 50%;">
								<button class="btn btn-block btn-lg active dropdown-toggle" data-toggle="dropdown" data-ng-class="chooseColor(item.title)"> 
									{{item.title}}
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        							<li ng-repeat="team in item.teams">
										<a ng-click="getTableForLeague(team.link)">{{team.display}}</a>
									</li>
      							</ul>
							</div>
				   
						<!-- ENDE Menü für erstes Design -->
				
						<!-- Tabelle für erstes Design -->
						<div ng-show="mannschaften">

							<table class="table table-striped table-condensed">
								<caption>Tabelle der {{teams.name}}</caption>
           	 					<thead>
              						<tr>
      									<th>Rang</th>
      									<th>Mannschaft</th>
      									<th>Spiele</th>
      									<th>S</th>
      									<th>U</th>
      									<th>N</th>
      									<th>Tore</th>
      									<th>+/-</th>
                						<th>Punkte</th>
      								</tr>
            					</thead>
           						<tbody>
              						<tr ng-repeat="mannschaft in mannschaften | orderObjectBy:'rang':false" data-ng-class="isHighlight(mannschaft)">
                						<td>{{mannschaft.rang}}</td>
          								<td>{{mannschaft.mannschaft}}</td>
          								<td>{{mannschaft.begegnungen}}</td>
        								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.siege}}</td>
										<td ng-if="!isNumber(mannschaft.siege)" colspan="100%">{{mannschaft.siege}}</td>
          								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.unentschieden}}</td>
          								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.niederlagen}}</td>
          								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.tore}}</td>
          								<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.verhaeltnis}}</td>
                						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.punkte}}</td>
             						</tr>
           				 		</tbody>
          					</table>	
          
          					<table class="table table-striped table-condensed" ng-show="nextGames">
            					<caption>Spielplan</caption>
								<thead>
              						<tr>
                						<th>Tag</th>
                						<th>Datum</th>
                						<th>Zeit</th>
               							<th>Halle</th>
                						<th>Nr</th>
                						<th>Heimmannschaft</th>
                						<th>Gastmannschaft</th>
                						<th>Tore</th>
              						</tr>
            					</thead>
            					<tbody>
              						<tr ng-repeat="nextGame in nextGames">
                						<td>{{nextGame.tag}}</td>
          								<td>{{nextGame.datum}}</td>
          								<td>{{nextGame.zeit}}</td>
          								<td>{{nextGame.halle}}</td>
          								<td>{{nextGame.nr}}</td>
          								<td>{{nextGame.heimmannschaft}}</td>
          								<td>{{nextGame.gastmannschaft}}</td>
                						<td>{{nextGame.tore}}</td>
              						</tr>
            					</tbody>
          					</table>
        				</div>
						<!-- ENDE Tabelle für erstes Design -->
					</div>
				</div>
				<!-- ENDE erstes Design -->
			
				<!-- zweites Design -->
				<div ng-show="design == 2">
					<!-- Menü für zweites Design -->
					<div class="col-md-1 btn-group-vertical" role="group">
						<accordion>
							<accordion-group is-open="status.open" ng-repeat="item in items2">
								<accordion-heading>
									{{item.title}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
								</accordion-heading>
								<div class="btn-group-vertical" role="group">
									<button type="button" class="btn btn-default" ng-repeat="team in item.teams" ng-click="getTableForLeague(team.link)">{{team.display}}</button>
								</div>
							</accordion-group>
						</accordion>
					</div>
					<!-- ENDE Menü für zweites Design -->
					
					<!-- Tabelle für zweites Design -->
					<div class="col-md-11" ng-show="mannschaften">
	
						<h2>Tabelle der {{teams.name}}</h2>
						<table class="table table-striped table-condensed table-bordered">
	           	 			<thead>
	              				<tr>
	      							<th>Rang</th>
	      							<th>Mannschaft</th>
	      							<th>Spiele</th>
	      							<th>S</th>
	      							<th>U</th>
	      							<th>N</th>
	      							<th>Tore</th>
	      							<th>+/-</th>
	                				<th>Punkte</th>
	      						</tr>
	            			</thead>
	           				<tbody>
	              				<tr ng-repeat="mannschaft in mannschaften | orderObjectBy:'rang':false" data-ng-class="isHighlight(mannschaft)">
	                				<td>{{mannschaft.rang}}</td>
	          						<td>{{mannschaft.mannschaft}}</td>
	          						<td>{{mannschaft.begegnungen}}</td>
	        						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.siege}}</td>
									<td ng-if="!isNumber(mannschaft.siege)" colspan="100%">{{mannschaft.siege}}</td>
	          						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.unentschieden}}</td>
	          						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.niederlagen}}</td>
	          						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.tore}}</td>
	          						<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.verhaeltnis}}</td>
	                				<td ng-if="isNumber(mannschaft.siege)">{{mannschaft.punkte}}</td>
	             				 </tr>
	           				 </tbody>
	          			</table>	
	          
	          			<h2>Spielplan</h2>
	          			<table class="table table-striped table-condensed table-bordered" ng-show="nextGames">
	            			<thead>
	              				<tr>
	                				<th>Tag</th>
	                				<th>Datum</th>
	                				<th>Zeit</th>
	               					<th>Halle</th>
	                				<th>Nr</th>
	                				<th>Heimmannschaft</th>
	                				<th>Gastmannschaft</th>
	                				<th>Tore</th>
	              				</tr>
	            			</thead>
	            			<tbody>
	              				<tr ng-repeat="nextGame in nextGames">
	                				<td>{{nextGame.tag}}</td>
	          						<td>{{nextGame.datum}}</td>
	          						<td>{{nextGame.zeit}}</td>
	          						<td>{{nextGame.halle}}</td>
	          						<td>{{nextGame.nr}}</td>
	          						<td>{{nextGame.heimmannschaft}}</td>
	          						<td>{{nextGame.gastmannschaft}}</td>
	                				<td>{{nextGame.tore}}</td>
	              				</tr>
	            			</tbody>
	          			</table>
					</div>
					<!-- ENDE Tabelle für zweites Design -->
				</div>
				<!-- ENDE zweites Design -->
			</div>
		</script>
		<!-- ENDE table.html -->
		
		
		<!-- settings.html -->
		<script type="text/ng-template" id="/settings.html">
			<nav class="navbar navbar-default">
  				<div class="container-fluid">
  					<!-- Collect the nav links, forms, and other content for toggling -->
    				<div class="navbar-body">
      					<ul class="nav navbar-nav">
        					<li><a href="#/table" type="button" class="btn btn-default navbar-btn glyphicon glyphicon-list"> Tabelle</a></li>
        					<li><a href="#/settings" type="button" class="btn btn-default navbar-btn glyphicon glyphicon-wrench"> Einstellungen</a></li>
      					</ul>

      					<ul class="nav navbar-nav navbar-right">
        					<li><a type="button" class="btn btn-default navbar-btn" ng-click="show = 'teams'">Mannschaften</a></li>
							<li><a type="button" class="btn btn-default navbar-btn" ng-click="show = 'tables'">Tabellen</a></li>
							<li><a type="button" class="btn btn-default navbar-btn" ng-click="show = 'ligen'; getAllLeagues()">Ligen</a></li>
							<li><a type="button" class="btn btn-default navbar-btn" ng-click="show = '...'">...</a></li>
      					</ul>
    				</div><!-- /.navbar-collapse -->
  				</div><!-- /.container-fluid -->
			</nav>

			<div ng-show="show == 'ligen'">
				<div ng-repeat="group in groups" >
					<div class="list-group">
        				<ul class="list-group-item active" ng-click="isShow = !isShow">
							{{ group.label }}
						</ul>
						
						<div ng-show="isShow">
							<ul class="list-group-item" ng-repeat="data in group.list" ng-click="changeActiv(data)" ng-class="{selected: data.isActiv}">
								{{data.name}}
							</ul>
						</div>
					</div>
    			</div>
			</div>
			
			<div ng-show="show == 'tables'" class="row" style="outline: 1px solid #AAAAAA;">
				<div class="col-md-6">
					<table class="table" ng-class="{'table-striped': tableStriped}" style="border: 2px solid {{tableBorder.color}}; color:{{tableText.color}};">
						<caption style="color:{{tableCaption.color}};">Tabellen</caption>
						<tbody>
							<tr>
								<td>test</td>
							</tr>
							<tr>
								<td>test2</td>
							</tr>
							<tr>
								<td>test3</td>
							</tr>
							<tr>
								<td>test4</td>
							</tr>
							<tr>
								<td>test5</td>
							</tr>
							<tr>
								<td>test6</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-6">
					<form>
						<div class="form-group">
							<label for="tableCaption">Überschrift</label>
							<input colorpicker ng-model="tableCaption.color" type="text" class="form-control" id="tableCaption" placeholder="{{tableCaption.color}}">
						</div>
						<div class="form-group">
							<label for="tableBorder">Rahmen</label>
							<input colorpicker ng-model="tableBorder.color" type="text" class="form-control" id="tableBorder" placeholder="{{tableBorder.color}}">
						</div>
						<div class="form-group">
							<label for="tableText">Text</label>
							<input colorpicker ng-model="tableText.color" type="text" class="form-control" id="tableText" placeholder="{{tableText.color}}">
						</div>
						<div class="checkbox">
							<label>
								<input ng-model="tableStriped" type="checkbox">Striped?
							</label>
						</div>
						<div class="form-group">
							<select class="form-group">
								<option value="1" selected="selected">1</option>
								<option value="2">2</option>
							</select>
						</div>
					</form>
				</div>
			</div>
		</script>
		<!-- ENDE settings.html -->
	</body>
</html>