<!-- Designmanager, enthält:
- Menüs des Managers
- Einstellungsmöglichkeiten der Tabellen
- Beispieltabelle
- Einstellungsmöglichkeiten der Seite
-->

<!-- Menü -->
<div style="margin-bottom:1em;">
	
	<a ng-show="applicationSetting" ng-click="applicationSetting = false" style="margin-right:1em;" ng-style="{'color':applicationDesign.actionColor}">
		<span class="glyphicon glyphicon-circle-arrow-left bigSizeGlyph"></span>
	</a>
	
	<h2 ng-style="{'color':applicationDesign.textColorBody}"> Design-Manager </h2>
	
	<a ng-hide="applicationSetting" ng-click="applicationSetting = true" ng-style="{'color':applicationDesign.actionColor}">
    	<span class="glyphicon glyphicon-wrench space bigSizeGlyph"></span>
  	</a>

	<div class="pull-right" ng-hide="applicationSetting">
		<a ng-click="changeTableDesign(tableDesign1)" href="" ng-style="{'color':applicationDesign.actionColor}">1.Design <span class="glyphicon glyphicon-picture"></span></a>
		<a ng-click="changeTableDesign(tableDesign2)" href="" class="space" ng-style="{'color':applicationDesign.actionColor}">2.Design <span class="glyphicon glyphicon-picture"></span></a>
		<a ng-click="changeTableDesign(tableDesign3)" href="" class="space" ng-style="{'color':applicationDesign.actionColor}">3.Design <span class="glyphicon glyphicon-picture"></span></a>
	</div>
	
	<div class="pull-right" ng-show="applicationSetting">
		<a ng-click="changeApplicationDesign(applicationDesign1)" href="" ng-style="{'color':applicationDesign.actionColor}">1.Design <span class="glyphicon glyphicon-picture"></span></a>
		<a ng-click="changeApplicationDesign(applicationDesign2)" href="" class="space" ng-style="{'color':applicationDesign.actionColor}">2.Design <span class="glyphicon glyphicon-picture"></span></a>
		<a ng-click="changeApplicationDesign(applicationDesign3)" href="" class="space" ng-style="{'color':applicationDesign.actionColor}">3.Design <span class="glyphicon glyphicon-picture"></span></a>
	</div>
</div>	
<!-- ENDE Menü -->

<!-- Tabelleneinstellungen -->
<div ng-hide="applicationSetting">
	<table class="table borderless" ng-style="{'color':applicationDesign.textColorBody}">
		<thead>
			<tr>
				<th>Tabellen-&Uuml;berschrift</th>
				<th>Tabelle-K&ouml;rper</th>
				<th colspan="2">Specials</th>
				<th>Allgemeines</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="form-group">
						<label>Hintergrundfarbe</label>
						<input colorpicker ng-model="tableDesign.backgroundColorHeader" type="text" class="form-control" placeholder="{{tableDesign.backgroundColorHeader}}" ng-style="{'background-color': tableDesign.backgroundColorHeader}" style="cursor: pointer;">
					</div>
				</td>
				<td>
					<div class="form-group">
						<label>Hintergrundfarbe</label>
						<input colorpicker ng-model="tableDesign.backgroundColor" type="text" class="form-control" placeholder="{{tableDesign.backgroundColor}}" ng-style="{'background-color': tableDesign.backgroundColor}" style="cursor: pointer;">
					</div>
				</td>
				<td>
					<div class="checkbox">
						<label>
							<input ng-model="tableDesign.tableStriped" type="checkbox">Gestreift
						</label>
					</div>
				</td>
				<td>
					<div class="checkbox">
						<label class="space">
							<input ng-model="tableDesign.tableBordered" type="checkbox">Rahmen
						</label>
					</div>
				</td>
				<td>
					<div class="form-group">
						<label>Bennennungsfarbe</label>
						<input colorpicker ng-model="tableDesign.captionColor" type="text" class="form-control" placeholder="{{tableDesign.captionColor}}" ng-style="{'background-color': tableDesign.captionColor}" style="cursor: pointer;">
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="form-group">
						<label>Schriftfarbe</label>
						<input colorpicker ng-model="tableDesign.textColorHeader" type="text" class="form-control" placeholder="{{tableDesign.textColorHeader}}" ng-style="{'background-color': tableDesign.textColorHeader}" style="cursor: pointer;">
					</div>
				</td>
				<td>
					<div class="form-group">
						<label>Schriftfarbe</label>
						<input colorpicker ng-model="tableDesign.textColor" type="text" class="form-control" placeholder="{{tableDesign.textColor}}" ng-style="{'background-color': tableDesign.textColor}" style="cursor: pointer;">
					</div>
				</td>
				<td colspan="2">
					<div class="form-group" ng-show="tableDesign.tableStriped">
						<label>Zweitfarbe</label>
						<input colorpicker ng-model="tableDesign.stripedColor" type="text" class="form-control" id="tableText" placeholder="{{tableDesign.stripedColor}}" ng-style="{'background-color': tableDesign.stripedColor}" style="cursor: pointer;">
					</div>
				</td>
				<td>
					<div class="form-group">
						<label>Highlight-Farbe</label>
						<input colorpicker ng-model="tableDesign.highlightColor" type="text" class="form-control" id="tableText" placeholder="{{tableDesign.highlightColor}}" ng-style="{'background-color': tableDesign.highlightColor}" style="cursor: pointer;">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- ENDE Tabelleneinstellungen -->
	
	<!-- Tabelle -->
	<table class="table table-condensed" ng-class="{'table-bordered' : tableDesign.tableBordered}">
		<caption ng-style="{'color':tableDesign.captionColor}">Tabelle</caption>	
		<thead>
			<tr ng-style="{'color':tableDesign.textColorHeader, 'background-color':tableDesign.backgroundColorHeader}">
				<th>Rang</th>
				<th>Mannschaft</th>
				<th>Spiele</th>
				<th>S</th>
				<th>U</th>
				<th>N</th>
				<th>Tore</th>
				<th>+/-</th>
	 			<th>Punkte</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="mannschaft in beispielTabelle"  ng-style="{'color':tableDesign.textColor, 'background-color':tableDesign.backgroundColor, 'background-color': mannschaft.rang==7 && tableDesign.highlightColor || $index%2==0 && tableDesign.tableStriped && tableDesign.stripedColor || tableDesign.backgroundColor }"> 
				<td>{{mannschaft.rang}}</td>		
				<td>{{mannschaft.mannschaft}}</td>	
				<td>{{mannschaft.begegnungen}}</td>	
				<td>{{mannschaft.siege}}</td>
				<td>{{mannschaft.unentschieden}}</td>
				<td>{{mannschaft.niederlagen}}</td>
				<td>{{mannschaft.tore}}</td>
				<td>{{mannschaft.verhaeltnis}}</td>
				<td>{{mannschaft.punkte}}</td>
			</tr>	
		</tbody>
	</table>	
</div>
<!-- ENDE Tabelle -->
 
<!-- Seiteneinstellungen -->
<div ng-show="applicationSetting">

	<div class="form-group">
		<label>Hintergrundfarbe</label>
		<input colorpicker ng-model="applicationDesign.backgroundColor" type="text" class="form-control input-lg" placeholder="{{applicationDesign.backgroundColor}}" ng-style="{'background-color': applicationDesign.backgroundColor}" style="cursor: pointer;">
	</div>
	
	<div class="form-group">
		<label>Header & Footer Hintergrundfarbe</label>
		<input colorpicker ng-model="applicationDesign.backgroundColorHeaderFooter" type="text" class="form-control input-lg" placeholder="{{applicationDesign.backgroundColorHeaderFooter}}" ng-style="{'background-color': applicationDesign.backgroundColorHeaderFooter}" style="cursor: pointer;">
	</div>
	
	<div class="form-group">
		<label>Header & Footer Textfarbe</label>
		<input colorpicker ng-model="applicationDesign.textColorHeaderFooter" type="text" class="form-control input-lg" placeholder="{{applicationDesign.textColorHeaderFooter}}" ng-style="{'background-color': applicationDesign.textColorHeaderFooter}" style="cursor: pointer;">
	</div>
	
	<div class="form-group">
		<label>Body Hintergrundfarbe</label>
		<input colorpicker ng-model="applicationDesign.backgroundColorBody" type="text" class="form-control input-lg" placeholder="{{applicationDesign.backgroundColorBody}}" ng-style="{'background-color': applicationDesign.backgroundColorBody}" style="cursor: pointer;">
	</div>
	
	<div class="form-group">
		<label>Body Textfarbe</label>
		<input colorpicker ng-model="applicationDesign.textColorBody" type="text" class="form-control input-lg" placeholder="{{applicationDesign.textColorBody}}" ng-style="{'background-color': applicationDesign.textColorBody}" style="cursor: pointer;">
	</div>
	
	<div class="form-group">
		<label>Actions Textfarbe</label>
		<input colorpicker ng-model="applicationDesign.actionColor" type="text" class="form-control input-lg" placeholder="{{applicationDesign.actionColor}}" ng-style="{'background-color': applicationDesign.actionColor}" style="cursor: pointer;">
	</div>

	<div class="form-group">
		<label>Rand</label>
		<input ng-model="applicationDesign.rand" type="text" class="form-control input-lg" placeholder="{{applicationDesign.rand}}" style="cursor: pointer;">
	</div>
</div>
<!-- ENDE Seiteneinstellungen -->