<div class="panel panel-default" ng-init="initSettingsController()">

	<!-- Kopflastige Navigationsleiste zur Auswahl des Managers -->
	<div class="panel-heading">
		<div class="btn-group" style="width:100%">
			<button style="width:33.3%" class="btn btn-lg btn btn-primary" ng-click="show = 'anzeigenManager'"> Anzeigen-Manager </button>
			<button style="width:33.3%" class="btn btn-lg btn btn-success" ng-click="show = 'designManager'"> Design-Manager </button>
			<button style="width:33.3%" class="btn btn-lg btn btn-danger" ng-click="show = 'ligaManager'; ligaSettings = false"> Liga-Manager </button>
		</div>
	</div>
	<!-- ENDE Kopflastige Navigationsleiste zur Auswahl des Managers -->

	<div class="panel-body" style="top: 77px;">

		<div ui-view="anzeigenmanager" ng-show="show == 'anzeigenManager'"></div>
		<div ui-view="designmanager" ng-show="show == 'designManager'"></div>
		<div ui-view="ligamanager" ng-show="show == 'ligaManager'"></div>

	<div class="panel-footer clearfix">	
			<div>&copy; Copyright by Jan G&uuml;nther, Michael Weber & Ren&eacute; R&ouml;se

			<a href="#/table" class="pull-right">
				<span class="glyphicon glyphicon-list"></span> Zu den Tabellen
			</a>
		</div>
	</div>

</div>