body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.highlight {
	background-color:green;
}

.selected {
    background-color: lightblue;
}

.btn-group:hover>.dropdown-menu {
  	display: block;
  	margin-top: 0;
 	cursor: pointer;
}

.dropdown-menu { width: 100%; }

.dropdown-menu:target {
	width:50%;
}

.btn-lg {
	border-radius: 0px;
}

.table > caption {
	font-size: 30px;
	color: #333333;
}