body {
	min-width: 800px;
	padding:20px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.h2 {
	padding:0px;
	margin:0px;
}

.panel-default > .panel-heading-nostyle {
	background: none; 
	margin: 10px;
	margin-bottom: 0px;
}

.panel-default > .panel-heading {
	margin-bottom: 0px;
}

.panel-body {
	height:550px;
	overflow-y:auto;
}

a {
  color: #00B7FF;
}

.highlight {
	background-color:green;
}

.selected {
    background-color: lightblue;
}

.btn-group:hover>.dropdown-menu {
  	display: block;
  	margin-top: 0;
 	cursor: pointer;
}

.dropdown-menu { width: 100%; }

.dropdown-menu:target {
	width:50%;
}

.btn-lg {
	border-radius: 0px;
}

.table > caption {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 30px;
	color: #333333;
}

h2 {
	display: inline-block;
	margin: 0px;
	margin-bottom: 10px;
	color: #333333;
}

.space {  
	margin-left: 10px;
}

.pull-center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

span.glyphicon-circle-arrow-left {
    font-size: 1.7em;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }




.animate.ng-enter, 
.animate.ng-leave
{ 
	-webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: clip;
	white-space:nowrap;
} 

.animate.ng-leave.animate.ng-leave-active,
.animate.ng-enter {
	opacity: 0;
	width: 0px;
	height: 0px;
}

.animate.ng-enter.ng-enter-active, 
.animate.ng-leave {
	opacity: 1;
	width: 150px;
	height: 30px;
}
	