<div ng-init="initTableControllerVars()">

				<div class="panel panel-default">
					
					<div class="panel-heading clearfix">
						<div>
							<a ng-show="firstDesign && secondDesign" href="#" ng-click="design = 1"><span class="glyphicon glyphicon-list"></span> 1.Design</a>
							<a ng-show="firstDesign && secondDesign" class="space" href="#" ng-click="design = 2"><span class="glyphicon glyphicon-th"></span> 2.Design</a>
		

							<div ng-show="showLogin" class="pull-right space" style="margin-top:-5px; margin-bottom:-5px;">
								<a ng-click="showLogin = false; loginBenutzer(loginName, passwordLogin)"><span class="glyphicon glyphicon-ok-sign bigSizeGlyph green"></span></a>
							</div>

							<div ng-show="showLogin" class="pull-right space" style="margin-top:-8px; margin-bottom:-8px;">
								<div class="inner-addon left-addon" style="width:120px; display: inline-block;">
		    						<i class="glyphicon glyphicon-user"></i>
		    						<input type="text" ng-model="loginName" class="form-control input-sm" placeholder="Benutzer" />
								</div>
		
								<div class="inner-addon left-addon" style="width:120px; display: inline-block;">
		    						<i class="glyphicon glyphicon-lock"></i>
		    						<input type="password" ng-model="passwordLogin" class="form-control input-sm" placeholder="Passwort" />
								</div>
							</div>

							<a class="pull-right space" ng-show="isLogin" href="#" ng-click="logoutBenutzer()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
							<span class="pull-right" ng-show="isLogin"> <b>{{nickname}}</b> </span>
							<span class="pull-right" ng-show="error"> {{error}} </span>
		
							<a class="pull-right space" ng-hide="isLogin || showLogin" href="#" ng-click="showLogin = !showLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a>
							<a class="pull-right" ng-show="verwaltung == 'ja' && !isLogin" href="#"><span class="glyphicon glyphicon-edit"></span> Registrieren</a>

						</div>
					</div>

					<div ng-show="design == 1" class="panel-heading-nostyle">
								<!-- Men&uuml; f&uuml;r erstes Design -->
								<!-- Simple dropdown -->
								<div class="btn-group" style="width:100%">
									<div class="btn-group" style="width:50%">
										<button class="btn btn-primary btn-lg btn-block  active dropdown-toggle " data-toggle="dropdown"> 
											M&auml;nnlich
										</button>
										<ul class="dropdown-menu" role="menu">
			      								<li ng-repeat="league in activeLeagues | filter: { gender: 'M&auml;nnlich' }:true">
												<a ng-click="getTableForLeague(league)">{{getNameForLeague(league)}} ({{league.name}})</a>
											</li>
			    						</ul>
									</div>
			
									<div class="btn-group " style="width:50%">
										<button class="btn btn-danger btn-lg btn-block active dropdown-toggle " data-toggle="dropdown"> 
											Weiblich
										</button>
										<ul class="dropdown-menu" role="menu">
			      								<li ng-repeat="league in activeLeagues | filter: { gender: 'Weiblich' }:true">
												<a ng-click="getTableForLeague(league)">{{getNameForLeague(league)}} ({{league.name}})</a>
											</li>
			    						</ul>
									</div>
								</div>
								<!-- ENDE Men&uuml; f&uuml;r erstes Design -->							
					</div>

					<!-- erstes Design -->
					<div ng-show="design == 1" class="panel-body" style="top:105px">
								<!-- Ladebildschirm -->
								<div class="center-div" ng-show="loading">
									<img src="images/loading-animation.gif"/ height="200" width="200">
								</div>
								<!-- ENDE Ladebildschirm -->
		
								<!-- Tabelle f&uuml;r erstes Design -->
								<div ng-show="mannschaften">
		
									<h2>{{leagueName}}</h2>
		
									<ligatabelle mannschaften = "mannschaften" favoritverein = "favoritVerein" tabledesign="tableDesign"></ligatabelle>	

									<spielplantabelle nextgames = "nextGames" tabledesign = "tableDesign"></spielplantabelle>
		
		        				</div>
								<!-- ENDE Tabelle f&uuml;r erstes Design -->
					</div>
					<!-- ENDE erstes Design -->

					<!-- zweites Design -->
					<div ng-show="design == 2" class="panel-body" style="top:38px">
						
						<!-- Men&uuml; f&uuml;r zweites Design -->
						<div class="sidebar-Design nopadding sticky-note-background">
							<div sticky-note ng-repeat="league in activeLeagues" league="league" class="sticky-note" ng-click="getTableForLeague(league)">
								<div> <!-- class="rotate" -->
									<span class="title">{{league.name}}</span>
									<span class="body">{{league.jugend}}</span>
								</div>
							</div>
						</div>
						<!-- ENDE Men&uuml; f&uuml;r zweites Design -->
					
						<!-- Ladebildschirm -->
							<div class="data-Design">
								<div class="center-div" ng-show="loading">
									<img src="images/loading-animation.gif"/ height="200" width="200">
								</div>
							</div>
						<!-- ENDE Ladebildschirm -->

						<!-- Tabelle f&uuml;r zweites Design -->
						<div class="data-Design" ng-show="mannschaften">
	
							<h2>{{leagueName}}</h2>
		
							<ligatabelle mannschaften = "mannschaften" favoritverein = "favoritVerein" tabledesign = "tableDesign"></ligatabelle>	
	          
	          				
						</div>
						<!-- ENDE Tabelle f&uuml;r zweites Design -->

					</div>
					<!-- ENDE zweites Design -->

					<div class="panel-footer">	
						<div>
							&copy; Copyright by Jan G&uuml;nther, Michael Weber & Ren&eacute; R&ouml;se
		
							<a ng-show="isLogin" href="#/settings" class="pull-right">
								<span class="glyphicon glyphicon-wrench"></span> Zu den Einstellungen
							</a>
						</div>
					</div>

			</div>